{% extends "base.html" %}
{% block title %}
<title>Add a User</title>
{% endblock %}

{% block content %}
    <h1>Add a New User</h1>
    <form method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" value="{{ request.form['username'] }}"/>
        <br>

        <label for="email">email</label>
        <br>
        <input type="text" name="email" value="{{ request.form['email'] }}"/>
        <br>

        <label for="phonenumber">phone number</label>
        <br>
        <input type="text" name="phonenumber" value="{{ request.form['phonenumber'] }}"/>
        <br>

        <label for="status">status</label>
        <br>
        <select name="status" value="{{ request.form['status'] }}">
          <option value="0">Inactive</option>
          <option value="1" selected>Active</option>
        </select>
        <br>

        <label for="is_admin">is admin</label>
        <br>
        <input type="checkbox" name="is_admin" value="{{ request.form['is_admin'] }}"/>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
