<!DOCTYPE html>

<link rel="icon" type="image/x-icon" href="static/favicon.ico"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css') }}">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>URLLibrary</title>
  </head>
  <body>
    <header>
      <div id="navbar-user">
        {% for item in navigation %}
          <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </header>
    <h1 id="site_name"> >> URLLibrary</h1>
  {% block content %}
  {% endblock %}
  </body>
</html>
